{% load mptt_tags %}

<div class='block-content for-catogory'>
    <div class="category-header">
        <h2>Categories</h2>
    </div>
    <ul class="list-group">
        {% recursetree categories %}
        <li class="category-item lead">
            <a class="category-link" href="{{ node.get_absolute_url }}">{{ node.name }}</a>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{children}}
                </ul>
            {% endif %}
        </li>
        {% endrecursetree %}
    </ul>
</div>