.content-nav {
    width: 100%;
    background-color: var(--secondary-color-two);
    padding: var(--padding-m);
    color: var(--main-color-one);
    position: sticky;
    top: 90px;
    z-index: 5;
}