{% extends 'base.html' %}
{% load static %}

{% block breadcrumbs %}
    {% include 'includes/breadcrumbs.html' %}
{% endblock %}
{% block content %}
    {% if object_list %}
        <div class ='for-cards'>
            {% for category in object_list %}
            <div class=' card-3'>
                <div class="block-content">
                
                    <a href="{{ category.get_absolute_url }}" style="text-decoration: none;">
                        {% if category.image %}
                            <img src="{{ category.image.url }}" alt="{{ category.name }}" style="width:100%;">
                        {% else %}
                            <img src="{% static 'img/tmb.png' %}" alt="{{ category.name }}" style="width:100%;">
                        {% endif %}
                        <h4 class="category-bottom">{{ category.name }}</h4>
                    </a>
                </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p> No categories found </p>
    {% endif %}
{% endblock %}